<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.geekonaut.mindpush"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>MindPush</name>

    <icon src="icon.png" />

    <description>
      A simple reaction puzzle
    </description>

    <author href="https://build.phonegap.com" email="mr.avgp+appsupport@gmail.com">
      Martin Naumann
    </author>

    <preference name="permissions" value="none" />

</widget>